@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap");

:root {
  --background: #f0eee6;
  --foreground: #171717;
  --background-dark: #141413;
  --text-light-secondary: #b0aea5;
}

@theme {
  --font-sans: "Domine", sans-serif;
}

@theme static {
  --max-page-width: 1800px;
}

body {
  font-family: var(--font-sans);
}
